@import 'normalize';

$general-color: #3498db;
$header-bg-color: #ecf0f1;
$text-color: #2c3e50;

@mixin display-flex($align-item: center,$justify-content: center) {
    display: flex;
    align-items: $align-item;
    justify-content: $justify-content;
}

@mixin setFont($size: 16px,$boldnes: 400,$color: #2c3e50,$fam...) {
    font: {
        size: $size;
        weight: $boldnes;
        family: $fam;
    }

    color: $color;
}
//Header section
#header {

    .burger-menu {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
        display: none;

        &:focus {
            outline: none;
        }

        i {
            font-size: 24px;
            color: #9d9d9d;
        }
    }

    .buger-elements-wrapper {
        height: 0px;
        overflow: hidden;
        position: absolute;
        background: #ecf0f1;
        width: 100%;
        padding-top: 15px;
        transition: height 0.5s linear;

        &.expanded {
            height:220px;
        }

        .burger-element a {
            width: 100%;
            display: block;
            text-align: center;
            margin: 10px 0;
            font-size: 16px;
            @include setFont(16px,200,$text-color,"proxima-nova", sans-serif)
        }
    }
}

.header-content {
    background: $header-bg-color;
    height: 130px;
    @include display-flex;



    .row {
        @include display-flex(center,space-around);
        width: 100%;

        & > div {
            width: 100%;
            text-align: center;
        }
    }

    .menu-section {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .menu-element {
            a {
                @include setFont(18px,200,$text-color,"proxima-nova", sans-serif);

                &:hover {
                    text-decoration: none;
                    color: #1c2833;
                }
            }
        }
    }


    .logo {
        .content {
            @include display-flex;
            width: 185px;
            height: 185px;
            border-radius: 100%;
            background-color: $header-bg-color;
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
            transition: box-shadow 0.2s linear;
            position: relative;
            z-index: 100;

            svg {
                position: relative;
                top: 20px;
                width: 100px;
                height: 117px;

                path {
                    fill: $general-color;
                    transition: fill 0.2s linear;
                }
            }
        }

        &:hover {
            .content {
                box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);

                svg {
                    path {
                        fill: #2491d3;
                    }
                }
            }
        }
    }
}

.mobile-show {
    display: none;
}

#header {
    position: fixed;
    z-index: 999;
    width: 100%;
    .lang {
        position: absolute;
        top: 5%;
        right: 0;
        width: 35px;
        height: 30px;
        text-align: center;
        cursor: pointer;
        background-color: $general-color;
        border-radius: 30px 0 0 30px;

        .lang-text {
            @include setFont(12px,200,white,"proxima-nova-condensed",sans-serif);
            letter-spacing: 0.01em;
            display: block;
            line-height: 30px;
        }

        &:hover {
            background-color: #2e85bf;
        }
    }
}
//main section
#main {
    background-image: url('../img/main-bg.png');
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 146px;
    .title {
        text-align: center;
        margin: 10% 0px;

        span {
            display: block;
            margin: 0 auto;
            text-transform: uppercase;
        }

        .row-1 {
            @include setFont(58px,100,white,'Exo 2', sans-serif);
            line-height: 62px;
        }

        .row-2 {
            @include setFont(36px,100,white,'Exo 2', sans-serif);
            line-height: 39px;
        }
    }

    .subtitle {
        text-align: center;
        margin-bottom: 9%;

        .about1 {
            @include setFont(52px,200,white,"proxima-nova", sans-serif);
            letter-spacing: 0.04em;
        }

        .about2 {
            @include setFont(24px,100,white,"proxima-nova", sans-serif);
        }
    }
}

.block-divider {
    width: 100%;
    height: 140px;
    background-position: center;
    background-size: cover;
    position: absolute;

    &.divider-1 {
        background-image: url('../img/sep_top.png');
        bottom: 0;
    }

    &.divider-2 {
        background-image: url('../img/sep_bot.png');
        top: 0;
    }
}
//features section
#features {
    padding: 30px 0;

    .title {
        @include setFont(26px,100,$general-color,"proxima-nova", sans-serif);
        letter-spacing: 0.025em;
        text-align: center;
        padding-top: 22px;
        margin-bottom: 30px;
    }

    .features-in-text {
        @include setFont(18px,400,$text-color,"proxima-nova-condensed",sans-serif);
        text-align: right;
        letter-spacing: 0.005em;
    }

    .features-img {
        @include display-flex(center,flex-end);
    }

    .features-tips {
        @include display-flex(center, flex-start);
        margin-bottom: 10%;
        cursor: pointer;

        .tips-icon {
            width: 49px;
            height: 56px;
            flex-shrink: 0;
            background-image: url('../img/icon-spirte.png');

            @for $i from 1 through 4 {
                &.icon-#{$i} {
                    background-position: $i * 49px 56px;
                }
            }
        }

        &:hover .tips-icon {
            @for $i from 1 through 4 {
                &.icon-#{$i} {
                    background-position: $i * 49px 112px;
                }
            }
        }

        .tips-text {
            @include setFont(16px,200,$text-color,"proxima-nova", sans-serif);
            text-transform: uppercase;
            margin-left: 4%;
        }

        .tips-pop-up {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 45px;
            z-index: 9999;
            background-color: white;
            box-shadow: 0px 0px 9px 2px #000000;
            display: none;
            @include setFont(16px,400,$text-color,"proxima-nova", sans-serif);

            .closebtn {
                position: absolute;
                top: 2%;
                right: 3%;
                @include setFont(24px, 400, $text-color,inherit);
                cursor: pointer;
            }
        }
    }
}
//video section
//futerovka section
.border-r-b {
    border-right: 2px solid #f45c43;
}

.border-l-t {
    border-left: 2px solid #f45c43;
}

.gluefuter {

    .title {
        color: $text-color !important;
    }

    .futer-content {
        color: $text-color !important;
    }

    .futer-content {
        text-align: right;
    }

    .tips_holder {
        padding-top: 60px;
        @include display-flex(center, flex-end);

        .tips {
            background-color: #f45c43;

            &:before {
                background-color: #f45c43;
                left: 100%;
            }
        }
    }
}

.monolitefuter {
    padding-bottom: 24px;


    .tips_holder {
        @include display-flex(center, flex-start);

        .tips {
            background-color: $general-color;

            &:before {
                background-color: #f45c43;
                right: 100%;
            }
        }
    }
}

#pros-and-cons {
    background-image: linear-gradient(to right, rgba(236,240,241,1) 0%, rgba(236,240,241,1) 50%, rgba(51,53,66,1) 50%, rgba(51,53,66,1) 100%);

    .title {
        @include setFont(26px,100,white,"proxima-nova", sans-serif);
        letter-spacing: 0.025em;
        text-align: center;
        padding-top: 22px;
        margin-bottom: 30px;
    }

    .futer-content {
        @include setFont(16px,400,white,"proxima-nova-condensed",sans-serif);
    }

    .futer-img button {
        background: none;
        border: none;
        outline: none;
    }

    .futer-img button:focus + .futer-pop-up {
        display: block;
    }

    .futer-pop-up {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 45px;
        z-index: 9999;
        background-color: white;
        box-shadow: 0px 0px 9px 2px #000000;
        display: none;
        @include setFont(16px,400,$text-color,"proxima-nova", sans-serif);

        .closebtn {
            position: absolute;
            top: 2%;
            right: 3%;
            @include setFont(24px, 400, $text-color,inherit);
            cursor: pointer;
        }
    }

    .tips_holder {
        flex-wrap: wrap;

        .tips {
            width: 100%;
            height: 50px;
            margin-bottom: 50%;
            position: relative;
            padding: 0 5px;
            @include display-flex(center,center);
            @include setFont(15px,400,white,"proxima-nova", sans-serif);

            &:before {
                content: '';
                width: 11%;
                height: 2px;
                position: absolute;
            }
        }
    }
}

//galery section
#galery {
    position: relative;
    background-image: url('../img/gallary-bg.png');
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;

    .title {
        text-align: center;
        margin-top: 100px;
        @include setFont(46px,100,white,"proxima-nova", sans-serif);
    }

    .next, .prev {
        width: 45px;
        height: 60px;
        border: 3px solid #f45c43;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 279;
        cursor: pointer;
        transition: left 0.3s linear,right 0.3s linear;
        @include display-flex(center,center);
        @include setFont(40px,400,white,inherit)
    }
}
//carousel classes
.roundabout-holder {
    padding: 0;
    margin: 30px auto 100px !important;
    height: 500px;
    width: 800px;
}

.roundabout-moveable-item {
    display: block;
    @include display-flex(center,center);
    filter: blur(2px);
    transition: filter 0.2s linear;

    span {
        opacity: 0;
        transition: opacity 0.2s linear;
    }
}

.next-slide {
    filter: blur(0);

    span {
        opacity: 1;
    }
}

.roundabout-moveable-item:before {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 99;
    transition: all 0.2s;
}

.next-slide:before {
    background: rgba(0,0,0,0);
}

#carousel li {
    background: #000;
    opacity: 1 !important;
    position: relative;

    span.undertext {
        position: absolute;
        top: 100%;
        line-height: 20px;
        left: 5%;
        @include setFont(18px,200,white,"proxima-nova", sans-serif);
    }

    .img-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}


#carousel li.roundabout-in-focus {
    cursor: default;
}
//table section
#table {
    text-align: center;

    .title {
        @include setFont(46px,100,$text-color,"proxima-nova", sans-serif);
    }

    .subtitle {
        @include setFont(24px,400,$text-color,"proxima-nova", sans-serif);
    }

    .table-info {
        @include setFont(24px,500,$text-color,"proxima-nova", sans-serif);
    }

    .table_wrapper {
        table {
            width: 100%;
            text-align: center;
            @include setFont(16px,200,$text-color,"proxima-nova", sans-serif);

            thead td {
                @include setFont(16px,400,white,"proxima-nova-condensed",sans-serif);
                letter-spacing: -0.04em;
                background-color: #f45c43;
                border: 1px solid white;
                border-top: none;
                height: 30px;
                vertical-align: middle;
            }

            tbody td {
                height: 40px;
            }
        }
    }

    .phisic-chemic {
        width: 100%;
        height: 60px;
        background: $general-color;

        .btn-pop {
            width: 320px;
            height: 30px;
            line-height: 27px;
            text-align: center;
            border: 2px solid white;
            cursor: pointer;
            @include setFont(16px,600,white,"proxima-nova",sans-serif);
            border-radius: 25px;
            margin: 17px auto;
        }
    }

    .pop-up {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 45px;
        z-index: 9999;
        background-color: white;
        box-shadow: 0px 0px 9px 2px #000000;
        display: none;

        .pop-up-wrapper {
            @include display-flex(center,center);
            height: 100%;
        }

        .closebtn {
            position: absolute;
            top: 2%;
            right: 3%;
            @include setFont(24px, 400, $text-color,inherit);
            cursor: pointer;
        }

        table tbody td {
            height: 30px;
        }
    }
}

.dark-layout {
    position: fixed;
    z-index: 9998;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
}
//references section
#references {
    .title {
        @include setFont(46px,100,$text-color,"proxima-nova", sans-serif);
        text-align: center;
        margin: 30px 0;
    }

    .cards-holder {
        @include display-flex(center,center);
        flex-wrap: wrap;

        .card {
            margin: 5px;
        }
    }

    .pop-upLogic button {
        background: none;
        border: none;
        outline: none;
    }

    .pop-upLogic button:focus + .refer-pop-up {
        display: block;
    }

    .refer-pop-up {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 45px;
        z-index: 9999;
        background-color: white;
        box-shadow: 0px 0px 9px 2px #000000;
        display: none;
        @include setFont(16px,400,$text-color,"proxima-nova", sans-serif);

        .closebtn {
            position: absolute;
            top: 2%;
            right: 3%;
            @include setFont(24px, 400, $text-color,inherit);
            cursor: pointer;
        }
    }
}
//Our parthners
#parthners{
        .title {
        @include setFont(46px,100,$text-color,"proxima-nova", sans-serif);
        text-align: center;
        margin: 30px 0;
    }
    .row{
        @include display-flex(center,center);
        .img-holder{
            width:100%;
            text-align:center;
        }
    }
}
//contact section
#contact {
    .title {
        @include setFont(46px,100,$text-color,"proxima-nova", sans-serif);
        text-align: center;
        margin: 30px 0;
    }

    .contact-holder {
        .padding-remove {
            padding: 0;
        }

        .contact-area {
            width: 100%;
            height: 325px;
            background-color: green;
            @include display-flex(flex-end,center);
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;

            .label-contact {
                @include setFont(16px,600,white,"proxima-nova", sans-serif);
                width: 145px;
                height: 30px;
                line-height: 30px;
                background-color: #f45c43;
                border-radius: 30px 0 0 30px;
                position: absolute;
                right: 0;
                top: 5%;
                text-align: center;
            }

            .contact-info {
                background-color: rgba(255,255,255,0.85);
                width: 100%;
                padding: 15px 30px 15px 0;

                p {
                    @include setFont(16px,400,$text-color,"proxima-nova-condensed",sans-serif);
                    margin: 0;
                    text-align: right;
                }

                p.name {
                    font-weight: 600;
                }
            }

            @for $i from 1 through 4 {
                &.background-#{$i} {
                    background-image: url('../img/contact-#{$i}.png');
                }
            }
        }
    }

    .email-area {
        background-color: #f45c43;

        .contact-email {
            @include setFont(18px,200,white,"proxima-nova", sans-serif);
            width: 100%;
            text-align: center;
            padding: 15px 0;
        }
    }
}
//footer section
footer {
    background-color: #343642;
    padding: 50px 0;

    .row {
        @include display-flex(center,center);
    }

    .footer-logo img {
        margin: 0 auto;
        display: block;
    }

    .content {
        @include setFont(18px,400,White,"proxima-nova-condensed",sans-serif);

        .title {
            @include setFont(18px,200,white"proxima-nova",sans-serif);
            width: 100%;
            display: block;
        }
    }

    nav {
        display: flex;
        flex-flow: column wrap;

        a {
            text-align: right;
            @include setFont(16px,400,white,"proxima-nova", sans-serif);
            margin: 4px 0;

            &:hover {
                color: #f45c43;
                text-decoration: none;
            }
        }
    }
}

.copyright {
    @include setFont(14px, 400,$text-color,"proxima-nova", sans-serif);
    padding: 10px 0px 10px 15px;
}
//Adaptive section
@media (max-width: 768px) {
    #header {

        .burger-menu {
            display: block;
        }
    }

    .header-content {
        height: 70px;


        .row {
            .menu-section {
                display: none;

                .menu-element {
                    a {
                        font-size: 15px;
                    }
                }
            }
        }



        .logo {
            .content {
                width: 111px;
                height: 111px;

                svg {
                    top: 9px;
                    width: 69px;
                    height: 82px;
                }
            }
        }
    }
    //-----------------------------------------
    #main {
        .title {
            margin: 23% 0px;

            .row-1 {
                font-size: 34px;
                line-height: 36px;
            }

            .row-2 {
                font-size: 22px;
                line-height: 23px;
            }
        }

        .subtitle {
            margin-bottom: 26%;

            .about1 {
                font-size: 23px;
            }

            .about2 {
                font-size: 19px;
            }
        }
    }

    //-----------------------------------------
    #features {
        .features-in-text {
            font-size: 16px;
            text-align: center;
            margin-bottom: 15px;
        }
    }
    //----------------------------------------
    #pros-and-cons {
        background-image: linear-gradient(to bottom, #333542 0%, #333542 50%, #ecf0f1 50%, #ecf0f1 100%);

        .futer-img img {
            width: 100%;
            height: 100%;
        }

        .futer-content {
            font-size: 15px;
            text-align: center;
            padding: 0 5px;
        }

        .tips_holder {
            .tips {
                font-size: 11px;

                &:before {
                    width: 21%;
                }
            }
        }

        .border-r-b {
            border-right: none;
            border-bottom: 2px solid #f45c43;
        }

        .border-l-t {
            border-left: none;
            border-top: 2px solid #f45c43;
        }
    }

    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: block;
    }

    .no-padd-mob {
        padding: 0;
    }
    //-----------------------------------------
    .roundabout-holder {
        width: 280px;
        height: 380px;
        margin: 30px auto 30px !important;
    }

    #carousel li {
        .carcas {
            width: 270px;
            height: 210px;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    //-----------------------------------------
    #table {
        .pop-up {
            display: none !important;
            padding: 45px 5px;

            .closebtn {
                right: 5%;
            }

            table tbody td {
                padding: 0 1px;
                font-size: 14px;
                white-space: nowrap;
            }
        }

        .phisic-chemic {
            .btn-pop {
                width: 280px;
                font-size: 15px;
            }
        }
    }

    .dark-layout {
        display: none !important;
    }
    //-----------------------------------------
    #contact {
        .contact-holder {
            .contact-area {
                .contact-info {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    //-----------------------------------------
    footer {
        padding: 50px 0 20px;

        .row {
            flex-flow: column wrap;
        }

        .content {
            padding-bottom: 10px;
            font-size: 13px;
        }

        .footer-logo {
            padding-bottom: 10px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        nav {
            justify-content: center;
            align-items: center;
        }
    }
}

@media (min-width: 768px) and (max-width:992px) {
    #main {

        .subtitle {
            margin-bottom: 16%;

            .about1 {
                font-size: 32px;
            }

            .about2 {
                font-size: 19px;
            }
        }
    }
    //-----------------------------------------
    #pros-and-cons {
        .futer-img img {
            width: 100%;
            height: 100%;
        }

        .futer-content {
            font-size: 15px;
        }

        .tips_holder {
            .tips {
                font-size: 11px;

                &:before {
                    width: 20%;
                }
            }
        }
    }
    //-----------------------------------------

    .roundabout-holder {
        width: 600px;
    }

    #carousel li {
        .carcas {
            width: 550px;
            height: 375px;


            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    //-----------------------------------------
    #table {
        .pop-up {
            padding: 45px 5px;
        }
    }
    //-----------------------------------------
    footer {

        .content {
            font-size: 16px;
        }

        .footer-logo img {
            width: 100%;
            height: 100%;
        }

        nav {
            display: flex;
            flex-flow: column wrap;

            a {
                text-align: right;
                @include setFont(16px,400,white,"proxima-nova", sans-serif);
                margin: 4px 0;

                &:hover {
                    color: aqua;
                    text-decoration: none;
                }
            }
        }
    }
}

@media (min-width:992px) and (max-width:1200px) {
    //-----------------------------------------
    #pros-and-cons {
        .futer-img img {
            width: 100%;
            height: 100%;
        }

        futer-content {
            font-size: 15px;
        }

        .tips_holder {
            .tips {
                font-size: 13px;
            }
        }
    }
    //-----------------------------------------
    #table {
        .pop-up {
            padding: 45px 5px;
        }
    }
    //-----------------------------------------
    footer {
        .footer-logo img {
            width: 100%;
            height: 100%;
        }
    }
    //-----------------------------------------
    #main {
        .subtitle {
            text-align: center;
            margin-bottom: 15%;
        }
    }
}
